name : Jmeter on github action 

on:
    workflow_dispatch:
     inputs:
        virtual_users:
          required: true
          description: enter virtual user count
          default: '10'
        ramp_up_time:
          required: true
          description: enter ramp up time
          default: '10'
        loop_count:
          required: true
          description: enter loop count
          default: '5'

jobs:
    run_jmeter_test:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - name: Run Jmeter Action on a Test
        uses: rbhadti94/apache-jmeter-action@v0.5.0
        with: 
          testFilePath: UrunAramaKullaniciGrubu.jmx
          outputReportsFolder: reports/
          args: "-Juser_count${{ github.action.input.virtual_user }} -Jramp_up_time${{ github.action.input.ramp_up_time }} -Jloop_count${{ github.action.input.loop_count }}  "
      - uses: actions/upload-artifact@v4
        with:
          name: jmeter-test-results
          path: reports/
